aniso8601==9.0.1
annotated-types==0.6.0
anyio==4.2.0
asgiref==3.5.0
async-timeout==4.0.3
attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.7.0
certifi==2020.6.20
chardet==4.0.0
Choco==1.0.5
click==8.1.7
cloud-init==23.3.3
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
dbus-python==1.2.18
distro==1.7.0
distro-info==1.1+ubuntu0.1
ec2-hibinit-agent==1.0.0
exceptiongroup==1.2.0
fastapi==0.109.0